#columna {
    margin: 50px;
    padding-top: 20px;
}



.boxing {
    padding: 30px;
    border: 1px solid rgb(216, 212, 212) !important;
    border-radius: 15px;
    background-color: white;
    color: black;
    cursor: pointer;
}


.boxing i{
    color: crimson;
    font-size: 5em;
    text-align: center;
}


.packs {
    
}




.boxing:hover  {
    background: #52575d;
    color: white !important;
}


.swal2-confirm {

        background: black !important;
        color: crimson;

}

.spp {
    color: #000 !important;
    opacity: 0.2 !important;
}


.mercadopago-button:hover{
    opacity: .6;
}


.vtd {
    background: red;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 3px;
    outline: none !important;
}

.vtd:hover {
    opacity: .5;
}

.packz {
    height: 550px !important;
}

.swal2-confirm {
    outline: none;
}
.swal2-styled{
    outline: none;
}

.bg-green {
    color: green;
}

.ft {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 26px;
    right: 100px;
    background-color: black;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    padding: 5px;
}


.ft:hover {
    color: red;
    background-color: white;
}