#columna {
    margin: 50px;
    padding-top: 20px;
}



.boxing {
  min-width: 250px;
    padding: 30px;
    border: 1px solid rgb(216, 212, 212) !important;
    border-radius: 15px;
    background-color: white;
    color: black;
    cursor: pointer;
}


.boxing i{
    color: crimson;
    font-size: 5em;
    text-align: center;

}







.boxing:hover  {
    background: #52575d;
    color: white !important;
}


.swal2-confirm {

        background: black !important;
        color: crimson;

}

.spp {
    color: #000 !important;
    opacity: 0.2 !important;
}


.mercadopago-button:hover{
    opacity: .6;
}


.vtd {
    background: red;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 3px;
    outline: none !important;
}

.vtd:hover {
    opacity: .5;
}

.packz {
    height: 550px !important;
}
.packm {
  height: 650px !important;
}

section {
  padding: 35px !important;
}

.swal2-confirm {
    outline: none;
}
.swal2-styled{
    outline: none;
}

.bg-green {
    color: green;
}

.ft {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 23px;
    right: 100px;
    background-color: black;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    padding: 5px;
}


.ft:hover {
    color: red;
    background-color: white;
}



/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
#faq {
    padding: 60px 0;
  }
  
  #faq #faq-list {
    padding: 0;
    list-style: none;
  }
  
  #faq #faq-list li {
    border-bottom: 1px solid #ddd;
  }
  
  #faq #faq-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-right: 20px;
  }
  
  #faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 16px;
  }
  
  #faq #faq-list p {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    #faq #faq-list a {
      font-size: 18px;
    }
    #faq #faq-list i {
      top: 13px;
    }
  }
  
  #faq #faq-list a.collapse {
    color: #f82249;
  }
  
  #faq #faq-list a.collapsed {
    color: #000;
  }
  


  

  

  